button {
    transition: .3s;
}

button:hover {
    background: #15396d;
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .25);
}

button:active {
    transform: scale(.97);
}

.retorno{
    transition: .4s;
}

.retorno:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .25);
}

article{
    transition:.4s; 
}

article:hover{
    transform:translateY(-8px);
}
button{
    transition:.3s;
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}


button:hover{
    background:#1456c2;
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}
