button {
    transition: .3s;
}

button:hover {
    background: #15396d;
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .25);
}

button:active {
    transform: scale(.97);
}

.retorno{
    transition: .4s;
}

.retorno:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .25);
}