*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}



header{
    width: 100%;
    text-align: center;
    padding: 20px;
}



main{
    width: 380px;
    padding: 30px;
    text-align: center;
}



form{
    margin-top: 25px;
}



label{
    display: block;
    text-align: left;
    margin-bottom: 8px;
}


input{
    width: 100%;
    padding: 13px;
    margin-bottom: 18px;
}



button{
    width: 100%;
    padding: 14px;
}


footer{
    margin-top: 25px;
}